.card {
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
.card_sm {
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 4px;
}
.card_lg {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}
.active-player {
    border-radius: 50%;
    background-color: yellow;
}
.log {
    font-family: 'Courier New', monospace;
}