<template v-if="isready">
    <div class=row>
        <div class="q-mx-auto column" style="width: 560px;">
            <div class="row q-my-md">
                <div class="card">P</div>
                <div
                    class="card"
                    v-for="i in state.parameters.hand_size"
                    v-text="state.piled[i - 1]"
                    :style="{'background-color':colors[i - 1]}"
                ></div>
                <div class="card">H</div>
                <div class="card">S</div>
            </div>
            <q-separator></q-separator>
            <div class="row" v-for="(hand, p) in state.hands" :key="hand">
                <div>
                    <template v-if="state.variables.active_player === p + 1">
                        <div class="card active-player" v-text="p + 1"></div>
                    </template>
                    <template v-else>
                        <div class="card" v-text="p + 1"></div>
                    </template>
                    <q-tooltip anchor="center left" self="center left">
                        {{ players[p] }}
                    </q-tooltip>
                </div>
                <template v-for="(card, i) in hand" :key="card">
                    <template v-if="card !== null">
                        <div
                            class="card"
                            v-text="card[1]"
                            :style="{'background-color':colors[card[0] - 1]}"
                            v-on:click="action_parameters = {'player': p + 1, 'position': i + 1, 'color': card[0], 'number': card[1]}; action_dialog = true"
                        ></div>
                    </template>
                    <template v-else>
                        <div
                            class="card"
                            :style="{'background-color':grey}"
                        >~</div>
                    </template>
                    
                </template>
                <div class="card" v-text="state.variables.tokens.hints[p]"></div>
                <div class="card" v-text="state.variables.tokens.strikes[p]"></div>
            </div>
            <q-separator></q-separator>
            <div class="q-my-md row">
                <div class="col q-ma-sm">
                    <div class="text-h4">stacked</div>
                    <div class="row">
                        <div
                            class="card_sm"
                            v-for="card in state.stacked"
                            v-text="card[1]"
                            :style="{'background-color':colors[card[0] - 1]}"
                        ></div>
                    </div>
                </div>
                <div class="col q-ma-sm">
                    <div class="text-h4">critical</div>
                    <div class="row">
                        <div
                            class="card_sm"
                            v-for="card in state.critical"
                            v-text="card[1]"
                            :style="{'background-color':colors[card[0] - 1]}"
                        ></div>
                    </div>
                </div>
                <div class="col q-ma-sm">
                    <div class="text-h4">garbage</div>
                    <div class="row">
                        <div
                            class="card_sm"
                            v-for="card in state.garbage"
                            v-text="card[1]"
                            :style="{'background-color':colors[card[0] - 1]}"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-mx-auto column">
            <q-scroll-area class="q-mx-auto q-my-md log" style="height: 500px; width: 300px;">
                <div class="column">
                    <template v-for="action in action_log">
                        <div
                            class="row"
                            v-text="action"
                        ></div>
                        <q-separator spaced></q-separator>
                    </template>
                </div>
            </q-scroll-area>
            <div class="q-my-md row">
                <template v-if="auto_process_player">
                    <q-btn
                        class="q-ma-sm"
                        label="process player"
                        color="primary"
                        disable
                    ></q-btn>
                </template>
                <template v-else>
                    <q-btn
                        class="q-ma-sm"
                        label="process player"
                        color="primary"
                        v-on:click="process_player = true"
                    ></q-btn>
                </template>
                <div class="q-ma-sm">
                    <q-checkbox v-model="auto_process_player" label="auto"></q-checkbox>
                </div>
            </div>
        </div>
    </div>

    <q-dialog v-model="action_dialog">
        <q-card>
            <q-card-section>
                <div class="text-h6">
                    Action on player {{ action_parameters.player }} (card age = {{ card_age }})
                </div>
            </q-card-section>

            <q-card-section>
                <div class="row items-center">
                    <div
                        class="card_lg"
                        v-text="action_parameters.number"
                        :style="{'background-color':colors[action_parameters.color - 1]}"
                    ></div>
                    <div>
                        <div class="row">
                            <div class="card_sm"></div>
                            <div
                                class="card_sm"
                                v-for="i_1 in state.parameters.card_size[1]"
                                v-text="i_1"
                            ></div>
                        </div>
                        <div class="row" v-for="i_0 in state.parameters.card_size[0]">
                            <div
                                class="card_sm"
                                :style="{'background-color':colors[i_0 - 1]}"
                            ></div>
                            <div v-for="i_1 in state.parameters.card_size[1]">
                                <div class="card_sm">
                                    {{ card_probability[(i_1 - 1) * state.parameters.card_size[1] + (i_0 - 1)].toFixed(2) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </q-card-section>

            <template v-if="state.variables.active_player === action_parameters.player">
                <q-card-actions>
                    <q-btn label="play" color="primary" v-close-popup v-on:click="action_type = 'play'"></q-btn>
                    <q-btn label="discard" color="primary" v-close-popup v-on:click="action_type = 'discard'"></q-btn>
                </q-card-actions>
            </template>
            <template v-else>
                <q-card-actions>
                    <q-btn label="Hint color" color="primary" v-close-popup v-on:click="action_type = 'hint_dim_1'"></q-btn>
                    <q-btn label="Hint number" color="primary" v-close-popup v-on:click="action_type = 'hint_dim_2'"></q-btn>
                </q-card-actions>
            </template>
        </q-card>
    </q-dialog>

    <q-dialog v-model="warning">
        <q-card>
            <q-card-section>
                <div class="text-h6">Warning</div>
            </q-card-section>

            <q-card-section class="q-pt-none" v-text="warning_text"></q-card-section>

            <q-card-actions align="right">
                <q-btn flat label="OK" color="primary" v-close-popup></q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>
